body {
  font-family: "Montserrat", sans-serif;
  color: #156f96;
}
header {
  background: #ffffff;
  padding: 20px;
  box-shadow: 0 5px 10px 0px #6b6b6b;
}

.atendimento li {
  margin-left: 10px;
}

.atendimento li a:visited {
  color: #156f96;
}

.atendimento li svg {
  width: 18px;
  height: 18px;
  margin-top: -2px;
  background: url(../imagens/svg/sacola.svg) 0 0 no-repeat;
}

h1 img {
  width: 200px;
}

header div form {
  width: 40%;
}

header div form input {
  border-radius: 20px;
  border: 1px solid #156f96;
  box-shadow: 0 4px 88px -7px #156f96;
  padding: 5px 20px;
}

header div form svg {
  width: 28px;
  position: absolute;
  left: 90%;
  top: 5px;
  transform: scaleX(-1);
  background: url(../imagens/svg/lupa.svg) 0 0 no-repeat;
}

header div form button {
  background: #156f96;
  color: white;
  width: 55px;
  font-weight: bold;
  border-radius: 20px;
  border: 1px solid #156f96;
}

header div form div {
  width: 100%;
  position: relative;
}

header div form div input {
  width: 100%;
}

header div form div input,
button {
  padding: 10px;
}

header div form div input:active,
input:focus {
  outline-color: #81abd8;
  background: cornsilk;
}

header div form div button {
  position: absolute;
  top: 0;
  right: 0;
}

header div form div button:hover {
  cursor: pointer;
}

nav svg {
  width: 32px;
  height: 32px;
  background: url(../imagens/svg/user.svg) 0 0 no-repeat;
}

nav a {
  padding: 0px 20px;
}

header div nav div svg {
  width: 32px;
  height: 32px;
  background: url(../imagens/svg/carrinho.svg) 0 0 no-repeat;
}

nav div span {
  position: absolute;
  background: #156f96;
  border-radius: 58%;
  height: 21px;
  width: 21px;
  line-height: 22px;
  display: inline-block;
  text-align: center;
  margin: -8px -13px;
  font-weight: bolder;
  color: white;
  font-size: small;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.produtos {
  width: 85%;
  padding: 5px;
}

.navegacao p:last-child {
  text-transform: capitalize;
}

h2 {
  font-size: 25px;
  padding: 20px;
}

.listaProdutos .card:hover {
  box-sizing: border-box;
  box-shadow: 0 5px 10px 0px #7d8f97;
  font-weight: bold;
  font-size: 18px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 400px;
  margin: auto;
  text-align: center;
  font-family: arial;
  margin: 1%;
  padding-bottom: 8px;
  border-radius: 5px;
  transition: all 0.5s;
  cursor: pointer;
}

.card p {
  margin: 0 0 0.3em;
}

.card-img-top {
  padding: 20px;
  width: 150px;
}

.card-price {
  color: #585050;
  font-size: 15px;
  padding: 10px;
}

.card-quantidade {
  width: 58px;
  padding: 4px;
  text-align: center;
}

.card-div-button {
  padding: 10px;
}

.card button {
  border: none;
  outline: 0;
  padding: 10px;
  color: #ffffff;
  background-color: #156f96;
  text-align: center;
  cursor: pointer;
  width: 50%;
  font-size: 15px;
  border-radius: 7px;
  padding: 10px;
  margin: 11px;
}

.card button:hover {
  opacity: 0.7;
}

.carrinho {
  width: 25%;
  padding: 0px 0px 10px 0px;
}

.carrinho-lista {
  background: hsl(0deg 0% 97%);
  box-sizing: border-box;
  box-shadow: 0 5px 10px 0px #7d8f97;
  border-radius: 10px;
}

.carrinho-lista h3 {
  background: hsl(0deg 0% 29%);
  color: #ffffff;
  padding: 20px;
  text-align: center;
  border-radius: 14px 14px 0px 1px;
  background: #156f96;
}

.carrinho-lista ul {
  list-style-type: none;
  padding: 0;
  border: 1px solid #ddd;
}

.carrinho-lista li {
  border-bottom: 1px solid #ddd;
  text-align: left;
  border-bottom-style: dashed;
}

.carrinho-compras-produto {
  padding: 5px;
  width: 15%;
  border-radius: 50%;
}

.carrinho-compras-item {
  padding: 0rem 1rem;
}

.carrinho-compras-descricao {
  padding: 2px;
  font-family: cursive;
  font-size: 1rem;
  font-weight: bold;
}

.carrinho-compras-quantidade {
  padding-top: 10px;
  padding-bottom: 5px;
}

.carrinho-compras-valor {
  font-size: 10px;
}

.carrinho-compras-excluir {
  border: none;
  outline: none;
  padding: 15px;
  background-repeat: no-repeat;
  background: url("../imagens/excluir.svg") 0 0 no-repeat;
  cursor: pointer;
}

.compras-carrinho-vazio {
  text-align: center;
  padding: 15px;
  font-weight: bold;
  font-size: 1.3rem;
}

.compras-carrinho-total p:nth-of-type(1) {
  text-align: center;
  padding: 5px;
  font-weight: bold;
}

.compras-carrinho-total p:nth-of-type(2) {
  padding: 5px;
}

.compras-carrinho-finalizar button {
  border: none;
  outline: 0;
  padding: 10px;
  color: #ffffff;
  background-color: #156f96;
  text-align: center;
  cursor: pointer;
  width: 50%;
  font-size: 1rem;
  border-radius: 7px;
  padding: 10px;
  margin: 11px;
  cursor: pointer;
}
